@model Phycock.Models.ScheduleEntryFormViewModel

<div class="modal-header">
    <h5 class="modal-title">通所予定編集</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
</div>
<form asp-action="Edit" method="post" class="schedule-entry-form">
    <div class="modal-body">
        @await Html.PartialAsync("_FormFields", Model)
    </div>
    <div class="modal-footer">
        <button type="button" id="deleteEntryButton" data-id="@Model.Id" onclick="deleteScheduleEntry(this)" class="btn btn-outline-danger me-auto">削除</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">閉じる</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
