@{
    ViewData["Title"] = "アカウントロック";
}

<h2>アカウントがロックされています。</h2>
<p>ログインの失敗が続いたか、管理者によってアカウントが無効化されています。</p>
<p>解除については管理者にお問い合わせください。</p>
<p><a asp-controller="Account" asp-action="Login">ログイン画面へ戻る</a></p>
