@model LoginViewModel
@{
    ViewData["Title"] = "ログイン";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <h4>アカウントを使用してログイン</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">ログイン</button>
                </div>
                <div>
                    <p>
                        <a asp-action="ForgotPassword">パスワードをお忘れですか？</a>
                    </p>
                    <p>
                        <a asp-action="Register">新規ユーザー登録はこちら</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
