@model SetPasswordViewModel
@{
    ViewData["Title"] = "パスワードの設定";
}

<h2>@ViewData["Title"]</h2>
<p>パスワードが設定されていません。パスワードを設定することでパスワードを使用してログインできるようになります。</p>
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Manage" asp-action="SetPassword" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">パスワードを設定する</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">アカウント管理に戻る</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
